/* Atur gaya umum untuk halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(edu.webp);
    color: #333;
}

/* Gaya untuk setiap bagian (section) */
section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #eff1ee;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk judul (h2) */
h2 {
    color: #2c3e50;
    font-size: 24px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Flexbox untuk konten dalam bagian */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Gaya untuk teks dalam konten */
.text-content {
    flex: 1;
    min-width: 200px;
    margin-right: 20px;
}

/* Gaya untuk gambar dalam bagian "ISI PIRINGKU" */
section img {
    width: 60%; /* Membuat gambar selebar kontainer */
    height: auto; /* Mempertahankan aspek rasio */
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

/* Gaya untuk daftar (ul) dalam bagian "ISI PIRINGKU" */
section ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 20px 0;
    }
    
    /* Gaya untuk item dalam daftar (li) */
    section ul li {
        margin-bottom: 10px;
        line-height: 1.6;
        }
        
        /* Gaya untuk teks tebal (strong) */
        strong {
            color: #2c3e50;
            }
            
    section img .b2sa3{
        width: 100%; /* Membuat gambar selebar kontainer */
        height: auto; /* Mempertahankan aspek rasio */
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
    }